


<main class="container">

    <div class="owl-carousel owl-theme" >
        <div class="item">
            <img src="/media/carousel/sl1.jpg">
        </div>
        <div class="item">
            <img src="/media/carousel/sl2.jpg">
        </div>
        <div class="item">
            <img src="/media/carousel/sl3.jpg">
        </div>
    </div>


    <h1>Гостиница "N"</h1>

    <p>
        Гостиница «N» расположена в г. N. В 1963 году приняла первых гостей, а в 2008 году прошла глобальная модернизация номерного фонда.</p>
    <p>
        Номерной фонд гостиницы составляет 105 номеров, из них 30 – бизнес-класса,  1 – номер для новобрачных, остальные
        эконом-класса. В каждом номере есть телевизор, холодильник, телефон. Номера бизнес-класса оборудованы кухонным уголком с микроволновой печью и чайником.</p>
    <p>
        В здании гостиницы расположены: парикмахерский зал, туристическое агентство, осуществляющее продажу ж/д и авиабилетов.</p>
    <p>
        В гостиничном кафе на 30 посадочных мест предлагаются завтраки, входящие в стоимость номера, по нескольким вариантам,
        обеды и ужины. Время работы кафе с 7.00 до 19.00 часов.</p>
    <p>
        В шаговой доступности находятся кафе, ресторан, культурно-деловой центр с кинотеатром, концертным и спортивным залами,
        супермаркет, аптеки, почтамт, платная автостоянка. В 10 минутах ходьбы – городской парк, спортивный комплекс
        «Ледовый дворец» с искусственным льдом.</p>
    <p>
        Гостиница принимает заявки на бронирование (бесплатно) от индивидуальных клиентов, групп, юридических лиц.
        Возможна оплата по наличному и безналичному расчету на ресепшене, пластиковыми картами Visa, MasterCard, Maestro.</p>
    <p>
        Мы рады принять гостей в любое время.</p>
    <p>
        <strong>Администратор всегда ответит на Ваши вопросы по телефону 8 (999) 999 99 99</strong>.</p>





</main><!-- /.container -->



