


<main class="container">





    <div class="row mb-3">
         <div class=" mb-3">
            <div class="">Выбирете дату и мы найдем для вас подходящие варианты</div>
        </div>
        <form action="/search" method="get">
            <div class="mb-3">
                    <div class="form-group">
                        <label for="inputDate1">Введите дату:</label>
                        <input name="data1" id="inputDate1" type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="inputDate">Введите дату:</label>
                        <input name="data2" id="inputDate" type="date" class="form-control">
                    </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Найти результаты</button>
            </div>
        </form>
    </div>


    <?if($arr['data']):?>
    <?foreach ($arr['data'] as $value):?>
    <div class="row mb-3 search-result" >
        <div class="col-2 image-content"><img class="image"/></div>
        <div class="col-6 l">
            <div class="row">
                <div class="col-3">Номер № <?=$value['NUMBER']?></div>
                <div class="col-3"><?=$value['CAT_NAME']?></div>
                <div class="col-3" style="text-align: end"><?=$value['PRICE']?></div>
            </div>
            <div class="row">
                <div class="col"><?=$value['TEXT_PREV']?></div>
            </div>
            <div class="row">
                <div class="col">Бесплатный wi-fi, кондиционер, микроволновка, чайник бла бла</div>
            </div>
            <div class="row">
                <div class="col-7"></div>
                <div class="col-3" style="text-align: end"><button class="btn btn-primary mymodal" data-room="<?=$value['NUMBER']?>"  data-target="#orderModal">Забранировать</button> </div>
            </div>
        </div>
    </div>
    <?endforeach?>
    <?endif?>


</main><!-- /.container -->



<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close mymodal_close" data-dismiss="modal" aria-label="Close" data-target="#orderModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mymodal_form" id="#orderModal">
                    <div class="form-group my_display_none" >
                        <input name="room_number" type="text" class="form-control" id="room">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Как к Вам обращаться:</label>
                        <input name="name_person" type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Номер телефона:</label>
                        <input name="person_phone" id="#phone" type="tel" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Примечание:</label>
                        <textarea name="person_text" class="form-control" id="message-text"></textarea>
                    </div>
                </form>
                <div class="myAnswer" style="display: none">
                    Через несколько минут Наш менеджер свяжится с Вами, для уточнения деталей
                </div>
            </div>
            <div class="modal-footer myModal_send_btn">
                <button type="button" class="btn btn-secondary mymodal_close" data-target="#orderModal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary mymodal_send" data-target="#orderModal">Send message</button>
            </div>
            <div class="modal-footer myModal_answer_btn" style="display: none">
                <button type="button" class="btn btn-secondary mymodal_close" data-target="#orderModal" data-dismiss="modal">Close</button>
                <!--                <button type="button" class="btn btn-primary mymodal_send" data-target="#orderModal">Send message</button>-->
            </div>
        </div>
    </div>
</div>
