<main class="container">
<p></p>
    <div class="row">
        <div class="col-sm-4 full_prev_picture">
            <img class="image" src="/media/gallery/no_img.png" />
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-3">
                   Номер - <?=$arr['rooms']['NUMBER']?>
                </div>
                <div class="col-sm-3">
                    <?=$arr['rooms']['cat']?>
                </div>
                <div class="col-sm-3">
                    Цена - <?=$arr['rooms']['PRICE']?>
                </div>
                <div class="col-sm-3">
                    <div class="col-3" style="text-align: end"><button class="btn btn-primary mymodal" data-room="<?=$value['NUMBER']?>"  data-target="#orderModal">Забранировать</button> </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm">
                    <?=$arr['rooms']['TEXT_FULL']?>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <?if($arr['rooms']['ADDONS']):?>
                    <?foreach($arr['rooms']['ADDONS'] as $val):?>
                        <?if($val['ADDONS_DATA']!=''):?>
                            <?=$val['ADDONS_NAME']?>:<?=$val['ADDONS_DATA']?>;
                        <?endif?>
                        <?endforeach?>
                    <?endif?>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="owl-carousel owl-theme" >
            <div class="item">
                <img src="/media/carousel/sl1.jpg">
            </div>
            <div class="item">
                <img src="/media/carousel/sl2.jpg">
            </div>
            <div class="item">
                <img src="/media/carousel/sl3.jpg">
            </div>
        </div>
    </div> 
    
</main>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close mymodal_close" data-dismiss="modal" aria-label="Close" data-target="#orderModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mymodal_form" id="#orderModal">
                    <div class="form-group my_display_none" >
                        <input name="room_number" type="text" class="form-control" id="room">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Введите дату:</label>
                        <input name="data1"  type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Введите дату:</label>
                        <input name="data2"  type="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Как к Вам обращаться:</label>
                        <input name="name_person" type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Номер телефона:</label>
                        <input name="person_phone" id="#phone" type="tel" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Примечание:</label>
                        <textarea name="person_text" class="form-control" id="message-text"></textarea>
                    </div>
                </form>
                <div class="myAnswer" style="display: none">
                    Через несколько минут Наш менеджер свяжится с Вами, для уточнения деталей
                </div>
            </div>
            <div class="modal-footer myModal_send_btn">
                <button type="button" class="btn btn-secondary mymodal_close" data-target="#orderModal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary mymodal_send" data-target="#orderModal">Send message</button>
            </div>
            <div class="modal-footer myModal_answer_btn" style="display: none">
                <button type="button" class="btn btn-secondary mymodal_close" data-target="#orderModal" data-dismiss="modal">Close</button>
                <!--                <button type="button" class="btn btn-primary mymodal_send" data-target="#orderModal">Send message</button>-->
            </div>
        </div>
    </div>
</div>