.search-result{
    height: 120px;
    /*padding-left: 10%;*/
    margin: 20px 0;
}

.search-result .image {
    width: 128px;
    height: 128px;
}

.search-result .image-content{
    text-align: -webkit-center;
}

.my_display_none{
    display: none;
}

.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: rgb(195,195,195);
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    /*bottom: var(--cd-back-to-top-margin);*/
    right: 20px;
    /*right: var(--cd-back-to-top-margin);*/
    display: inline-block;
    height: 40px;
    /*height: var(--cd-back-to-top-size);*/
    width: 40px;
    /*width: var(--cd-back-to-top-size);*/
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    /*background-color: hsla(0, 0%, 82%, 0.8);*/
    /*background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)*/
}

.sidebar .nav-link{
    font-weight: 500;
    color: #333;
}

.full_prev_picture .image{
    width: 256px;
}

.container-reviews{
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #dddddd;
    box-shadow: 0.682px 0.731px 3px 0px rgb(0 0 0 / 25%);
    color: #404041;
    font-family: "m med";
    font-size: 14px;
    padding: 25px 40px 25px 30px;
}