
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div id='calendar'></div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var initialLocaleCode = 'ru';
        var localeSelectorEl = document.getElementById('locale-selector');
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            initialDate: '<?=$current_date?>',
            locale: initialLocaleCode,
            buttonIcons: false, // show the prev/next text
            weekNumbers: true,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [
                <?=$event_list?>
            ]
        });

        calendar.render();



    });

</script>


<link href='/template/fullcalendar/main.css' rel='stylesheet' />
<script src='/template/fullcalendar/main.js'></script>
<script src='/template/fullcalendar/locales-all.js'></script>
