<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="col-md-9 mx-auto col-lg-10 px-md-4">
        <form class="edit_form" >

            <div class="form-group">
                <label for="name" class="col-form-label">Ммя клиента</label>
                <input name="name" id="name" type="tel" class="form-control" value="<?=isset($arr['data']['clients']['NAME'])?$arr['data']['clients']['NAME']:''?>">
            </div>
            <div class="form-group">
                <label for="phone" class="col-form-label">Номер</label>
                <input name="phone" id="phone" type="tel" class="form-control" value="<?=isset($arr['data']['clients']['PHONE'])?$arr['data']['clients']['PHONE']:''?>">
            </div>

            <div class="form-group">
                <label for="number_room" class="col-form-label">E-MAIL</label>
                <input name="number_room" id="number_room" type="tel" class="form-control" value="<?=isset($arr['data']['clients']['MAIL'])?$arr['data']['clients']['MAIL']:''?>">
            </div>


            <div class="modal-footer myModal_send_btn">
                <button type="button" class="btn btn-secondary" data-target="#orderModal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-target="#orderModal">Отправить</button>
            </div>
        </form>
    </div>
</main>