<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Одобрение</th>
                <th>Коментарий</th>
                <th>Номер комнаты</th>
                <th>Имя клиента</th>
                <th>Дата</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?foreach($arr['data']['orders'] as $value):?>
            <tr class="rooms_tr">
                <td><?=$value['ID']?></td>
                <td><?=$value['Availability']?></td>
                <td><?=$value['COMMENT']?></td>
                <td><?=$value['NUMBER']?></td>
                <td><?=$value['NAME']?></td>
                <td><?=$value['DATA_FROM']?> / <?=$value['DATA_TO']?> </td>
                <td class="end"> <a href="/admin/orders_edit?ID=<?=$value['ID']?>">редактировать</a><td>
                <td class="end"> <a class="orders_confirm" value_id="<?=$value['ID']?>" href="#">Подтвердить</a><td>
            </tr>
            <?endforeach;?>
            </tbody>
        </table>
    </div>
</main>

<script>
    $(function (){
        $('.orders_confirm').click(function (){
            //alert($(this).attr('value_id'))
            str = {
                'id' : $(this).attr('value_id'),
                'action' : 'updateAVA',
            };
            $.ajax({
                url : '/helpers/toOrderUpdate.php',
                type : "POST",
                data : str,
                success: function(dataOut){
                    //console.log(dataOut);
                    if(dataOut == 1) {
                        alert("Все прошло успешно");
                        window.location.reload();
                    }
                }
            }).done(function (){

            });
        })
    })
</script>