<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="col-md-9 mx-auto col-lg-10 px-md-4">
        <form class="edit_form" >
            <div class="form-group">
                <label for="ava" class="col-form-label">Одобрена</label>
                <input name="ava" type="checkbox" id="ava"/>
                <!--                <input name="number_room" type="text" class="form-control" id="NUMBER_ROOM" value="<?=isset($arr['data']['rooms']['NUMBER'])?$arr['data']['rooms']['NUMBER']:''?>">-->
            </div>
            <div class="form-group">
                <label for="name" class="col-form-label">Ммя клиента</label>
                <input name="name" id="name" type="tel" class="form-control" value="<?=isset($arr['data']['orders']['NAME'])?$arr['data']['orders']['NAME']:''?>">
            </div>
            <div class="form-group">
                <label for="phone" class="col-form-label">Номер</label>
                <input name="phone" id="phone" type="tel" class="form-control" value="<?=isset($arr['data']['orders']['PHONE'])?$arr['data']['orders']['PHONE']:''?>">
            </div>

            <div class="form-group">
                <label for="number_room" class="col-form-label">Номер комнаты</label>
                <input name="number_room" id="number_room" type="tel" class="form-control" value="<?=isset($arr['data']['orders']['NUMBER'])?$arr['data']['orders']['NUMBER']:''?>">
            </div>

            <div class="form-group">
                <label for="comment" class="col-form-label">Коментарий</label>
                <input name="client_comment" id="comment" type="tel" class="form-control" value="<?=isset($arr['data']['orders']['COMMENT'])?$arr['data']['orders']['COMMENT']:''?>">
            </div>
            <div class="form-group">
                <label for="data_main" class="col-form-label">Когда была подана заявка</label>
                <input name="data_main" disabled id="data_main" type="date" class="form-control" value="<?=isset($arr['data']['orders']['DATA_MAIN'])?$arr['data']['orders']['DATA_MAIN']:''?>">

            </div>
            <div class="form-group">
                <label for="data_from" class="col-form-label">Дата заселения</label>
                <input name="data_from" id="data_from" type="date" class="form-control" value="<?=isset($arr['data']['orders']['DATA_FROM'])?$arr['data']['orders']['DATA_FROM']:''?>">
            </div>
            <div class="form-group">
                <label for="data_to" class="col-form-label">Дата выезда</label>
                <input name="data_to" id="data_to" type="date" class="form-control" value="<?=isset($arr['data']['orders']['DATA_TO'])?$arr['data']['orders']['DATA_TO']:''?>">
            </div>
            <div class="modal-footer myModal_send_btn">
                <button type="button" class="btn btn-secondary" data-target="#orderModal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-target="#orderModal">Отправить</button>
            </div>
        </form>
    </div>
</main>