<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

     <div class="col-md-9 mx-auto col-lg-10 px-md-4">
        <form class="edit_form" action="/toRooms" method="get" rewrite="<?=$rewrite?>">
            <div class="form-group">

                <input name="id_rooms" type="text" class="form-control" style="display: none" value="<?=isset($arr['data']['rooms']['ID'])?$arr['data']['rooms']['ID']:'New'?>">
            </div>
            <div class="form-group">
                <p>Картинка для превью</p>
                <?if($arr['data']['rooms']['PICTURE_PREV']['SRC'] != ""):?>
                    <img class="prev_img_rooms" src="<?=$arr['data']['rooms']['PICTURE_PREV']['SRC']?>"/>
                <?else:?>
                    <img class="prev_img_rooms" src="<?=$noimg?>"/>
                <?endif?>
                    <?if(isset($arr['data']['rooms']['ID'])):?>
                    <button type="button" class="btn btn-primary boot-align mymodal" data-target="#change_img">Изменить</button>
                    <?endif?>
            </div>
            <div class="form-group">
                <label for="cat_name" class="col-form-label">Категория</label>
                <input name="cat_name" type="text" class="form-control" id="cat_name" value="<?=isset($arr['data']['rooms']['CAT_NAME'])?$arr['data']['rooms']['CAT_NAME']:''?>">
            </div>

            <div class="form-group">
                <label for="NUMBER_ROOM" class="col-form-label">Номер комнаты:</label>
                <input name="number_room" type="text" class="form-control" id="NUMBER_ROOM" value="<?=isset($arr['data']['rooms']['NUMBER'])?$arr['data']['rooms']['NUMBER']:''?>">
            </div>
            <div class="form-group">
                <label for="PRICE_ROOM" class="col-form-label">Цена</label>
                <input name="price_room" id="PRICE_ROOM" type="tel" class="form-control" value="<?=isset($arr['data']['rooms']['PRICE'])?$arr['data']['rooms']['PRICE']:''?>">
            </div>
            <div class="form-group">
                <label for="TEXT_FULL" class="col-form-label">Полный текст описание</label>
                <textarea name="text_full" class="form-control" id="TEXT_FULL" ><?=isset($arr['data']['rooms']['TEXT_FULL'])?$arr['data']['rooms']['TEXT_FULL']:''?></textarea>
            </div>
            <div class="form-group">
                <label for="TEXT_PREV" class="col-form-label">Текс превью</label>
                <textarea name="text_prev" class="form-control" id="TEXT_PREV" ><?=isset($arr['data']['rooms']['TEXT_PREV'])?$arr['data']['rooms']['TEXT_PREV']:''?></textarea>
            </div>
            <hr class="mt-2 mb-5">
            <?if(isset($arr['data']['rooms']['addons'])):?>
                <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">Дополнительные опции</h3>
                <?foreach($arr['data']['rooms']['addons'] as $value):?>
                <div class="form-group mb-3">
                    <label for="add_<?=$value['addId'];?>" class="col-form-label"><?=$value['ADDONS_NAME']?></label>
                    <input name="add_<?=$value['addId'];?>/<?=$value['addons_id'];?>" id="add_<?=$value['addId'];?>" type="tel" class="form-control" value="<?=$value['ADDONS_DATA']?>">
                </div>
                <?endforeach;?>
                <button type="button" class="btn btn-primary mymodal" id="" data-target="#add_addons_modal">Добавить</button>
            <?endif;?>

            <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">Gallery</h3>
            <hr class="mt-2 mb-5">
            <div class="row text-center text-lg-left">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                    </a>
                </div>
            </div>

            <div class="modal-footer myModal_send_btn">
                <button type="button" class="btn btn-secondary" >Close</button>
                <button type="button" class="btn btn-primary " id ="my_send" >Send</button>
            </div>
        </form>

    </div>
</main>

<div class="modal fade" id="add_addons_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Введите название</h5>
                <button type="button" class="close mymodal_close" data-dismiss="modal" aria-label="Close" data-target="#orderModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="" id="#add_addons_modal">
                    <div class="form-group " >
                        <input name="addons_name" type="text" class="form-control" >
                    </div>
                    <div class="form-group " >
                        <input name="id_cat" type="text" class="form-control" value="<?=isset($arr['data']['rooms']['CAT_NAME'])?$arr['data']['rooms']['CAT_NAME']:''?>" style="display: none" >
                    </div>
                </form>
            </div>
            <div class="modal-footer myModal_send_btn">
                <button type="button" class="btn btn-secondary mymodal_close" data-target="#add_addons_modal" >Close</button>
                <button type="button" class="btn btn-primary mymodal_send" data-target="#add_addons_modal">Send message</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="change_img" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close mymodal_close" data-dismiss="modal" aria-label="Close" data-target="#change_img">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="" id="#change_img" action="/toImgChange" method="get" rewrite="<?=$rewrite?>">
                        <input type="text" name="rooms_id" style="display: none" value="<?=isset($arr['data']['rooms']['ID'])?$arr['data']['rooms']['ID']:'New'?>">
                            <?$i=0;?>
                            <?foreach($arr['data']['gallery'] as  $val):?>
                            <?if($i==0):?>
                                <div class="row">
                            <?endif?>
                                    <?$i++;?>
                                <div class="col-4 mb-2">
                                    <div>
                                        <input  name="id_img" type="radio" value="<?=$val['ID']?>" >
                                    </div>
                                    <div>
                                        <img class="prev_img_rooms" src="<?=$val['SRC']?>"/>
                                    </div>
                                </div>
                            <?if($i==3):?>
                                <?$i=0;?>
                            </div>
                            <?endif?>

                            <?endforeach?>

                    <div class="modal-footer myModal_send_btn">
                        <button type="button" class="btn btn-secondary mymodal_close" data-target="#change_img" >Закрыть</button>
                        <button type="button" class="btn btn-primary " id="my_send1" data-target="#change_img">Сохранить</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>