<div class="table-responsive mb-3">
    <?if($arr['data']['orders'] != NULL):?>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Коментарий</th>
                <th>Номер комнаты</th>
                <th>Дата</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?foreach($arr['data']['orders'] as $value):?>
            <?if(isset($value['NUMBER'])):?>
                <tr class="rooms_tr">
                    <td><?=$value['ID']?></td>
                    <td><?=$value['COMMENT']?></td>
                    <td><?=$value['NUMBER']?></td>
                    <td><?=$value['DATA_FROM']?> / <?=$value['DATA_TO']?> </td>
                </tr>
            <?endif?>
            <?endforeach;?>
            </tbody>
        </table>
    <?else:?>
    <span>У Вас еще нет заказов</span>
    <?endif?>

</div>